body{
	background-image:url("../imagenes/fono1111.png");
	color:#6E2C00;
	font-family: Tahoma,"lucida console";
	font-size:40px;
}
p{
	text-align:justify;
	font-size:20px;
	}
hr{
	border: 3px dotted #17202A ;
	/*sirve para el terminado de las orillas
	de la linea en el radio se expresa en pixeles*/
	border-radius:5px;
}
table,tr,td{
	/* grosor,tipo linea,color de la linea */
	border:3px solid #3498DB; 
	border-spacing:0px;
	/* color de fondo de las celdas*/
	
	background-color: #D6EAF8;
	text-align:center; 
	font-size:20px;
	
}
th{
		background-color: #FFFFFF;
}
ul{
	list-style-type:circle;
	list-style-position:inside;
}
ol{
	list-style-type: lower-alpha;
	list-style-position:inside;
	
}	
.pie{
	text-align:center;
	font-size:15px;
	font-weight:bold;
}
.encabezado{
	text-align:center;
	font-size:30px;
	font-weight:bold;
}
.img-marquee{
	height:400px; 
	width:400px; 
}
.img-producto{
	height:200px; 
	width:150px; 
}
*{
	margin: 0px
}
div#top{
	padding:30px;
	width:100%;
	height:60px;
	/*background-color:#D6EAF8;*/
	background-image:linear-gradient(#B68053,#EAC6A1 );
	/*background-image:radial-gradient(#EDBB99,#FCF3CF);*/
}
div#piediv{
	padding:20px;
	width:100%;
	height:70px;
	/*background-color:#D6EAF8;*/
	/*si qureremos borrar la liena de color*/
	background-image:linear-gradient(#B68053,#EAC6A1);
}
div#principal{
	width:100%;
	/*background-color:#D6EAF8;*/
	background-image:linear-gradient(#B68053,#EAC6A1 );
	/*background-image:radial-gradient(#EDBB99,#FCF3CF);*/
}
.caja{
	height:300px;
	width: 250px;
    background:#eee;	
	border: 1px solid #eee;
	margin:5px;
	color:black; 
	text-align:center;
	display:inline-block;
}
.caja:hover{
	box-shadow:0 0 10px blue;
	transform: scale(1.3);
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:blue;
	font-weight:bold;
}
.texto-adicional{
	padding-top:5px;
	font-size:15px;
}
.carrousel{
width:600px;
margin:auto;
box-sizing:border-box;
}
.conteCarrousel{
width:100%;
height:400px;
overflow:hidden;
box-sizing:border-box;
}
.itemCarrousel{
position:relative;
width:100%;
height:100%;
box-sizing:border-box;
}
.itemCarrouselTarjeta{
width:100%;
height:100%;
box-sizing:border-box;
}
.itemCarrouselArrows{
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:20px;
box-sizing:border-box;
}
.itemCarrouselArrows>i:hover{
cursor:pointer;
}
.conteCarrouselControler{
width:100%;
justify-content:space-evenly;
display:flex;
}
.conteCarrouselControler>a{
text-decoration:none;
font-size:32px;
color:grey;
}
.itemCarrouselArrows>a>i{
color:white;
}
.img-controller{
height:50px;
Width:50px;
}
.caja2{
height:300px;
width:300px;
background:#eee;
border: 1px solid #eee;
margin:5px;
color:black;
text-align:center;
display:inline-block;
}

.caja2-texto{
padding-top:5px;
padding-bottom:5px;
font-size:20px;
color:wite;
font-weight:bold;
}
.texto2-adicional{
padding-top:5px;
font-size:15px;
}












